
@model Members

@{
    ViewBag.Title = "Члени Ужгорожського клубу";
    //Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Члени Ужгорожського клубу</h2>


    @Html.ActionLink("Додати нового", "AddmemberForm", "Configure")

<div>
    <table class="names">
        <tr>
            <th><p>№ в клубі</p></th>
            <th><p>Прізвище</p></th>
            <th><p>Ім'я</p></th>
            <th><p>Область</p></th>
            <th><p>Район</p></th>
            <th><p>Село/Місто</p></th>
            <th><p>Вулиця</p></th>
            <th><p>Дім</p></th>
            <th><p>Квартира</p></th>
            
            <th><p>Телефон Київтар</p></th>
            <th><p>Телефон Vodafon</p></th>
            
        </tr>

        

        @foreach (var b in ViewBag.Members)
        {
            <tr>
                <td><p>@b.MemberNumber</p></td>
                <td><p>@b.MemberLastName</p></td>
                <td><p>@b.MemberFirstName</p></td>
                <td><p>@b.RegionName</p></td>
                <td><p>@b.DistrictName</p></td>
                <td><p>@b.CityName</p></td>
                <td><p>@b.Address</p></td>
                <td><p>@b.House</p></td>
                <td><p>@b.Flat</p></td>
            </tr>
        }
    </table>
</div>
