
@model U7MVC.Members

@{
    //Layout = null;
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    function getDistrictList()
    {
        //debugger;
        var regionId = $("#RegionId").val();
        $.ajax({
            url: '/Configure/GetDistrictList',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify({ regionId: +regionId }),
            success: function (result) {
                $("#DistrictId").html("");
                
                $.each($.parseJSON(result), function (i, district)
                {
                    $("#DistrictId").append($('<option></option>').val(district.DistrictId)
                        .html(district.DistrictName))
                })

            },
            error: function ()
                { alert("Whooaaa! Something went wrong..") },
        });
    }
    function getCityList() {
        //debugger;
        var regionId = $("#RegionId").val();
        var districtId = $("#DistrictId").val();
        $.ajax({
            url: '/Configure/GetCityList',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify({regionId: +regionId , districtId: +districtId }),
            success: function (result) {
                $("#CityId").html("");

                $.each($.parseJSON(result), function (i, city) {
                    $("#CityId").append($('<option></option>').val(city.CityId)
                        .html(city.CityName))
                })

            },
            error: function ()
            { alert("Whooaaa! Something went wrong..") },
        });
    }
</script>


<div class="row">
    <div class="col-md-8">
        <section id="addNewMember">
            @using (Html.BeginForm("AddMembers", "Configure", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.MemberID)

                <h4>Додати нового Члена Клубу.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <table>

                    

                    <tr>
                        <div class="form-group">

                            Номер в клубі
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.MemberNumber, new { @class = "form-control", maxlength = "5" })

                            </div>
                        </div>
                    </tr>

                    <tr>
                        <div class="form-group">
                            Прізвище
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.MemberLastName, new { @class = "form-control", type = "text" })

                            </div>
                        </div>
                    </tr>

                    <tr>
                        <div class="form-group">
                            Ім'я
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.MemberFirstName, new { @class = "form-control", type = "text" })

                            </div>
                        </div>
                    </tr>

                    <div class="row">

                        <div class="form-group">
                            Область
                            <div class="col-md-10">

                                <select id="RegionId" name="RegionId" onchange="getDistrictList();getCityList()">

                                    @foreach (var b in ViewBag.Reg)
                                    {
                                        <option value="@b.ID">
                                            @b.RegionName
                                        </option>

                                    }

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            Район
                            <div class="col-md-10">
                                <select id="DistrictId" name="DistrictId" onchange="getCityList()">
                                    @foreach (var b in ViewBag.District)
                                    {
                                        <option value="@b.DistrictId">
                                            @b.DistrictName
                                        </option>

                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            Село/Місто
                            <div class="col-md-10">
                                <select id="CityId" name="CityId">
                                    @foreach (var b in ViewBag.lstCity)
                                    {
                                        <option value="@b.CityId">
                                            @b.CityName
                                        </option>

                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        Вулиця
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", type = "text" })
                        </div>
                    </div>

                    <div class="form-group">
                        Дім
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.House, new { @class = "form-control", maxlength = "4" })
                        </div>
                    </div>


                    <div class="form-group">
                        Квартира
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Flat, new { @class = "form-control", maxlength = "3" })
                        </div>
                    </div>




                    <div class="form-group">
                        Телефон Київстар
                        <div class="col-md-10">
                            <select id="mySelect">
                                <option>+38 067</option>
                                <option>+38 068</option>
                                <option>+38 096</option>
                                <option>+38 097</option>
                                <option>+38 098</option>
                            </select>
                            @Html.TextBoxFor(m => m.MemberNumber, new { @class = "form-control", maxlength = "7" })
                        </div>
                    </div>
                    
                    <tr>
                        <div class="form-group">
                            Телефон Vodafon
                            <div class="col-md-10">
                                <select id="mySelect">
                                    <option>+38 050</option>
                                    <option>+38 066</option>
                                    <option>+38 095</option>
                                    <option>+38 099</option>
                                </select>
                                @Html.TextBoxFor(m => m.MemberNumber, new { @class = "form-control", maxlength = "7" })
                            </div>
                        </div>
                    </tr>

                  
                </table>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>

                }
                
        </section>
    </div>
    
</div>