
@model Members

@{
    ViewBag.Title = "AddMembers";
    //Layout = "~/Views/_ViewStart.cshtml";
}

<h2>AddMembers</h2>

<h2>Члени Ужгорожського клубу</h2>
<div>
    <table>
        <tr>
            <td><p>Прізвище, імя, по-батькові</p></td>
            <td><p>Номер в клубі</p></td>
        </tr>
       
        <tr>
            @Html.ActionLink("Додати нового", "AddmemberForm", "Configure")
        </tr>
        
        @foreach (var b in ViewBag.Members)
        {
            <tr>
                <td><p>@b.MemberNumber</p></td>
                <td><p>@b.MemberLastName</p></td>
                <td><p>@b.MemberFirstName</p></td>
                <td><p>@b.RegionName</p></td>
                <td><p>@b.DistrictName</p></td>
                <td><p>@b.CityName</p></td>
                <td><p>@b.Address</p></td>
                <td><p>@b.House</p></td>
                <td><p>@b.Flat</p></td>
            </tr>
        }
    </table>
</div>
