@using U7MVC.Models
@model Member

@{
    ViewBag.Title = "Member";
}

<h2>Члени Ужгорожського клубу</h2>
<div>
    <table>
        <tr>
            <td><p>Прізвище, імя, по-батькові</p></td>
            <td><p>Номер в клубі</p></td>
        </tr>
        @foreach (var b in ViewBag.Members)
        {
            <tr>
                <td><p>@b.MemberNumber</p></td>
                <td><p>@b.MemberLastName</p></td>
                <td><p>@b.MemberFirstName</p></td>
                <td><p>@b.RegionId</p></td>
                <td><p>@b.DistrictId</p></td>
                <td><p>@b.CityId</p></td>
                <td><p>@b.Address</p></td>
                <td><p>@b.House</p></td>
                <td><p>@b.Flat</p></td>

            </tr>
        }
    </table>
</div>

